// CONTENTS
// General
// Menu // Header // Navbar
// Footer
// Home page // Front page
//  Carousel
// Fostering Our Future Page
// Events page
//  Accordion
// Donate page
// Attributions page

@import "../node_modules/bootstrap/scss/bootstrap";

$primary-color: #002447;
$secondary-color: #febe10;
$tertiary-color: #4abbe8;
$tertiary-color-light: rgba(74, 187, 232, 0.07);
$black-very-light: rgba(0, 0, 0, 0.2);
$black-light: rgba(0, 0, 0, 0.4);
$black-moderate: rgba(0, 0, 0, 0.75);
$black-heavy: rgba(0, 0, 0, 0.9);
$black: #000000;
$white: #ffffff;
$border-width: 2px;
$text-shadow: 2px 2px 4px $black-moderate;
$border-radius: 8px;
$box-shadow: rgba(46, 41, 51, 0.08) 0px 4px 16px,
  rgba(71, 63, 79, 0.16) 0px 8px 24px;
$small-font: 0.75rem;

// General

@font-face {
  font-family: "Proxima Nova";
  src: url(https://use.typekit.net/nih0tpx.css);
  font-display: swap;
}

h1,
h2,
h3,
p,
a,
button,
li,
cite,
blockquote {
  color: $primary-color;
  font-family: proxima-nova, sans-serif;
}

blockquote {
  font-style: italic;
  margin: 0;
  font-size: 1.3rem;
}

cite {
  text-transform: uppercase;
  font-style: normal;
  font-size: $small-font;
  margin: 0.3rem 0 0;
}

li {
  font-size: 1.5rem;
}

ul {
  padding-left: 1rem;
}

body {
  background-color: none;
}

figcaption {
  margin-top: 0.35rem;
}

.navbar-brand a.menu-item {
  text-transform: uppercase;
  line-height: 1;
}

.bar {
  background-color: $primary-color;
  color: $white;
  max-width: 100vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bar h1 {
  color: $white;
}

@include media-breakpoint-down(md) {
  ul {
    padding-left: 1.5rem;
  }
  li {
    font-size: 1.2rem;
  }
  .bar h1 {
    font-size: 1.5rem;
  }
}

// Menu // Header // Navbar

.header {
  margin-top: 50px;
  justify-content: center;
  display: flex;
}

.me-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.navbar a {
  color: $black;
}

.nav-dana-name {
  color: $black;
}

@include media-breakpoint-up(md) {
  .navbar a {
    letter-spacing: 2px;
  }
}

.navbar-nav a {
  font-size: 0.9rem;
}

a.menu-item {
  text-decoration: none;
}

a.active {
  color: $primary-color;
}

a.nav-link {
  text-transform: uppercase;
}

@include media-breakpoint-up(md) {
  a.nav-link.menu-donate.active {
    border: $border-width solid $black-heavy;
  }
  a.nav-link.menu-donate {
    background-color: transparent;
    border-radius: 300px;
    border: $border-width solid $black-light;
    margin-left: 0.45rem;
  }
  a.nav-link.menu-donate:hover {
    border: $border-width solid $black-moderate !important;
  }
  a.nav-link.menu-donate:focus {
    border: $border-width solid $black-moderate !important;
  }
}

.bg-light {
  background-color: $white !important;
}

.navbar-brand {
  font-size: 16px;
  text-transform: uppercase;
}

@include media-breakpoint-down(lg) {
  .navbar-nav .nav-link {
    padding-left: 1rem;
  }
}

// Footer

.footer-link {
  display: flex;
}

.footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $white;
}

.btn {
  background-color: transparent !important;
  border-radius: 300px;
  border: $border-width solid $white !important;
  color: $white;
  border-radius: 300px;
}

.footer p {
  color: $white;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.footer a {
  color: $white;
}
.footer p:first-of-type {
  color: $white;
  margin-top: 0 !important;
  margin-bottom: 0.5rem;
}

.footer.bar {
  margin-bottom: 0 !important;
}

.copyright {
  color: $white;
  font-size: $small-font;
  margin-left: auto;
  margin-right: 0;
}

// Home page // Front page

.home-page-image {
  display: flex;
  padding: 0;
}

.home-page .col {
  padding: 0;
}

.home-page-body {
  background-color: $primary-color;
}

.home-page li {
  color: $white;
}

.home-page h2 {
  font-size: 2rem;
}

.home-page .bar {
  margin-bottom: 0;
}

.home-page .footer {
  margin-top: 0;
}

@include media-breakpoint-down(md) {
  .home-page-image {
    margin-bottom: 1rem;
  }
}

// Fostering Our Future Page

div.first-image.gatsby-image-wrapper {
  margin-top: 0;
}

.fostering-page .container h1 {
  margin-bottom: 0;
}

.fostering-page .bar {
  margin-bottom: 1.7rem;
}

.fostering-page .gatsby-image-wrapper {
  margin-top: 1.7rem;
}

.fostering-page h2 {
  margin-top: 1rem;
}

.fostering-page .col {
  display: flex;
  align-items: center;
}

.fostering-page h1 {
  margin-bottom: 0.7rem;
}

@include media-breakpoint-up(md) {
  .fostering-page h1 {
    margin-bottom: 1.3rem;
  }
}

// Events page

.background-container img {
  height: 900px;
}

@include media-breakpoint-down(md) {
  .background-container img {
    height: 1100px;
  }
}

.events-background {
  background: url(../src/images/community-garden-1.jpeg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.events-body {
  background: none;
}

.background-container {
  display: grid;
}

.events-body h1 {
  color: $white;
  margin: 0;
  text-shadow: $text-shadow;
}

// Accordion

.accordion-container {
  margin-top: 1rem;
}

@include media-breakpoint-down(md) {
  .accordion-container {
    min-height: 500px;
  }
}

.accordion-item:last-of-type {
  margin-bottom: 2rem;
}

.accordion-body .gatsby-resp-image-wrapper {
  margin-left: 0 !important;
  max-width: 500px !important;
}

.oktoberfest .gatsby-resp-image-wrapper {
  margin-left: 0 !important;
  max-width: 350px !important;
}

.municipal-election .gatsby-resp-image-wrapper {
  margin-left: 0 !important;
  max-width: 350px !important;
}

.accordion-body p {
  color: $primary-color;
}

.accordion-item:first-child {
  margin-top: 1rem;
}

// About Page

.about-page p:first-of-type {
  margin-top: 1rem;
}

.about-image {
  margin-top: 1rem;
}

.about-page .container h1 {
  margin-bottom: 0;
}

.about-page .bar {
  margin-bottom: 1.7rem;
}

.about-page p:last-of-type {
  margin-bottom: 0;
}

@include media-breakpoint-down(md) {
  .about-page .bar {
    margin-bottom: 1.5rem;
  }
}

.biography {
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 1rem;
}

.about-page h2:first-of-type {
  margin-top: 1.5rem;
}

.about-page li {
  font-size: 1rem;
  color: $primary-color;
}

.about-page li:first-of-type {
  margin-top: 0.5rem;
}

// Donate page

.donate-page .top-space {
  margin-bottom: 1rem;
}

.donate-page .bar {
  margin-bottom: 1rem;
}

.donate-page h1 {
  margin-bottom: 0;
}

// Attributions page

.attributions-body {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
